## List

In [1]:
# list
l = []
l

[]

In [2]:
l = list()
l

[]

In [3]:
l=[1,2,3]
l

[1, 2, 3]

In [4]:
type(l)

list

In [5]:
# list is a heterogenous (different datatypes)
li=[1,0.2,1+3j,True,'2','rew']
li

[1, 0.2, (1+3j), True, '2', 'rew']

In [6]:
# Nested lists (list of lists)
lst3 = [[1,2],[3,4],1,3]
print(lst3)

[[1, 2], [3, 4], 1, 3]

In [8]:
# find length of a list
lst = ['one','two','three','four',[1,2,3,4],3,4,[1,2]]
print(len(lst))

8

### List Indexing

Each item in the list has an assigned indexn avlue starting from 0.Accessing elements in a list is called indexing.

In [10]:
my_list = [10,20.5,"Hello"]

#print 1st index element
my_list[0]

#print last element using negative index
print(my_list[-1])

Hello

In [11]:
# Lists are mutable, meaning, value of elements of a list can be altered.
my_list[0] = 'NEW'
my_list

['NEW', 20.5, 'Hello']

### List Slicing

Accessing parts of segments is called slicing.

The key point to remember is that the :end value represents the first value that is not in the selected slice.

In [15]:
numbers = [10,20,30,40,50,60,70,80]
#print all numbers
print(numbers[:])

#print from index 0 to index 3
print(numbers[0:4])

#print upto index 2
print(numbers[:3])

#print alternate elements in a list
print(numbers[::2])

#print elements start from 0 through rest of the list
print(numbers[0::])

#print element elements in reverse order
print(numbers[-1::-1])

[10, 20, 30, 40, 50, 60, 70, 80]
[10, 20, 30, 40]
[10, 20, 30]
[10, 30, 50, 70]
[10, 20, 30, 40, 50, 60, 70, 80]
[80, 70, 60, 50, 40, 30, 20, 10]

In [20]:
nest = [1,2,3,[4,5,['subrat',3,40]]]
len(nest)

4

In [21]:
nest[3][2][0]

'subrat'

In [3]:
lst = [1,2,[3,4],[5,[100,200,['subrat'],23,11],1,7]]

In [4]:
# Given this nested list, use indexing to grab the "subrat"
lst[3][1][2][0]

'subrat'

In [5]:
#replace 23 with 32
lst[3][1][3]=32
lst

[1, 2, [3, 4], [5, [100, 200, ['subrat'], 32, 11], 1, 7]]

### List Concatenation

In [7]:
l1 = ["sumn",'b','c']
l2 = ['d',7,3.9]
l1 + l2

['sumn', 'b', 'c', 'd', 7, 3.9]

### List Methods-List inbuilt functions

#### Append

1.append is used to add elements in the list
2.append will add the item at the end

In [9]:
my_list = ['a','b','c']
my_list.append('5')
my_list

['a', 'b', 'c', '5']

In [10]:
lst = [1,2,3,4,5,6]
lst.append([8,9])
lst

[1, 2, 3, 4, 5, 6, [8, 9]]

#### Extend

In [11]:
lst = [1,2,3,4,5,6]
lst.extend([8,9])    #same as concatenatation
lst

[1, 2, 3, 4, 5, 6, 8, 9]

#### Insert

1.insert in a specific order
2.list.insert(x,y)-will add element y at location x

In [12]:
lst = ['one','two','four']
lst.insert(1,1)
print(lst)

['one', 1, 'two', 'four']

#### Remove

In [13]:
#Syntax: lst.remove(x)
marks = [10,20,30,6,5,8,34,65,71,25,3,4]
marks.remove(10)
marks

[20, 30, 6, 5, 8, 34, 65, 71, 25, 3, 4]

In [14]:
lst = ['one',[1,2,'two'],'three','four','two']
lst.remove(lst[1])  #it will remove first occurence of 'two' in a given list
print(lst)

['one', 'three', 'four', 'two']

#### Clear

In [1]:
# Clear-clear all elements in a list and returns empty list 
a=[1,2,3,4]
a.clear()
print(a)

[]

#### Pop

In [2]:
lst=[1,2,3,4,5]
lst.pop()
print(lst)

[1, 2, 3, 4]

In [3]:
# or we can use pop() method
lst = ['one','two','three','four','five']
lst.pop(1)
print(lst)

['one', 'three', 'four', 'five']

#### Delete

In [4]:
#del to remove item based on index position
lst = ['one','two','three','four','five']
del lst[0]
print(lst)

['two', 'three', 'four', 'five']

In [6]:
marks = [1,2,24,12,54,35,23,16,42,20,75,31,28]
del marks[0:10]
marks

[75, 31, 28]

#### Reverse

In [7]:
#reverse is revrsses the entire list
lst = ['one','two','three','four']
lst.reverse()
print(lst)

['four', 'three', 'two', 'one']

#### Sorting

1.The easiest way to sort a List is with the sorted(list) function.
2.That takes a list and returns a new list with those elements in sorted order.
3.The original list is not changed.
4.The sorted() optional arguments reverse=True,e.g.sorted(list,reverse=True),makes it sort backwards.

In [8]:
numbers=[2,5,4,6,9,7]
sorted(numbers)

[2, 4, 5, 6, 7, 9]

In [9]:
sorted(numbers,reverse=True)

[9, 7, 6, 5, 4, 2]

In [10]:
lst = [1,34,5,7,9.8]
lst.sort()
lst

[1, 5, 7, 9.8, 34]

In [11]:
#Sort is applicable for either only alphabet or only numeric values only

lst = [1,24,'b',8,'k']
print(lst.sort())

TypeError: '<' not supported between instances of 'str' and 'int'

#### Count

In [12]:
numbers = [1,3,4,2,5,6,2,1,0,8,2]
print(numbers.count(1))  #frequency of 1 in a list
print(numbers.count(2))  #frequency of 2 in a list

2
3

#### Copy

In [13]:
#Shallow Copy
l1=[1,2,3]
l2=l1
l2.append(4)
print(l1)
print(l2)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [14]:
#Deep Copy
l1=[1,2,3]
l2=l1.copy()
l2.append(4)
print(l1)
print(l2)

[1, 2, 3]
[1, 2, 3, 4]

In [16]:
#index(): Returns the index of first occurrence.Start and End index are not necessary parameters
lst = [1,23,41,52]
lst.index(52)

3

In [17]:
## Min
min(lst)

1

In [18]:
## Max
max(lst)

52

In [19]:
lst = [1,2,3,4,5]
sum(lst)

15

## Tuples

1.Tuple is similar to List except that the objects in tuple are immutable which means we cannot change the elements of a tuple once assigned.
2.When we do not want to change the data over time, tuple is a preferred data type.
3.Iterating over the elements of a tuple is fatser compared to iterating over a list.

#### Tuple Creation

In [1]:
tup1 = ()   #Empty tuple
type(tup1)

tuple

In [2]:
tup2=tuple()
type(tup2)

tuple

In [3]:
tup3 = (100,'subrat',15.774)       # Tuple of mixed data types
tup3

(100, 'subrat', 15.774)

In [13]:
tup4 = ('subrat',24,(40,100),(120,80))       # nested tuples

In [5]:
tup5 = ('subrat',24,[40,100],[120,80],{'Jhon','David'},(88,55,66))

In [6]:
tup5[3][0]=200

In [7]:
tup5

('subrat', 24, [40, 100], [200, 80], {'David', 'Jhon'}, (88, 55, 66))

In [8]:
len(tup5)  #Length of List

6

 #### Tuple Indexing

In [9]:
tup5[0]  # Retreive first element of the tuole

'subrat'

In [11]:
tup5[2][0] # Nested indexing - Access the first character of the first tuple element

40

In [14]:
tup4[-1]  # Last item of the tuple

(120, 80)

### Tuple Slicing

In [15]:
mytuple = ('one','two','three','four','five','six','seven','eight')

In [16]:
mytuple[0:3] # Return all items from 0th to 3rd index location excluding the item

('one', 'two', 'three')

In [17]:
mytuple[2:5] # List all item from 2nd to 5th index location excluding the item

('three', 'four', 'five')

In [18]:
mytuple[:3] # Return first three item

('one', 'two', 'three')

In [19]:
mytuple[-3:] # Return last three item

('six', 'seven', 'eight')

In [20]:
mytuple[-3::-1]

('six', 'five', 'four', 'three', 'two', 'one')

In [21]:
mytuple[:2] # Return first two item

('one', 'two')

In [22]:
mytuple[-2:] # Return last two item

('seven', 'eight')

## Remove & Change Items

In [23]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [24]:
del mytuple[0] # Tuples are immutable which means we can't DELETE tuple items

TypeError: 'tuple' object doesn't support item deletion

In [25]:
mytuple[0] = 1 # Tuples are immutable which means we can't change tuple items

TypeError: 'tuple' object does not support item assignment

In [26]:
del mytuple # Deleting entire tuple object is possible

## Tuples Methods

In [27]:
mytuple1 = ('one','two','three','four','one','one','two','three')

### Count

In [28]:
mytuple1.count('one') #Number of times item "one" occured in the tuple.

3

In [29]:
mytuple1.count('two') #Occurence of item 'two' in the tuple

2

### Indexing Position

In [31]:
mytuple1.index('one') #Index of first element equal to 'one'

0

In [32]:
mytuple1.index('five') # Index of first element equal to 'five'

ValueError: tuple.index(x): x not in tuple

### Sorting

In [33]:
mytuple2 = (45,75,64,23,14,35,5)

In [35]:
sorted(mytuple2) # Returns a new sorted list and doesn't change original tuple

[5, 14, 23, 35, 45, 64, 75]

In [36]:
sorted(mytuple2, reverse=True) # Sort in descending order

[75, 64, 45, 35, 23, 14, 5]

In [37]:
mytuple2

(45, 75, 64, 23, 14, 35, 5)

### Tuple Membership

In [38]:
mytuple = ('one','two','three','four','five','six','seven','eight')

In [39]:
'one' in mytuple # Check if 'one' exist in the list

True

In [40]:
'ten' in mytuple # Check if 'ten' exist in the list

False

## Sets

1.A set is an unordered collection of items.
2.Every element is unique(no duplicates)
3.The set itself is mutable-->We can add or remove items from it.
4.In set,multiple datatype items are not applicable(Ex:{1,2,(1,2)}--is not applicable
5.Set is defined by values separated by comma inside braces{}.

->Sets can be used to perform mathematical set operations like union, intersection, symmetric difference etc.

In [1]:
# Defining an empty set 
set_var= set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [2]:
a = {10,30,40,20,5,'s'}
print(a)

{'s', 20, 5, 40, 10, 30}

In [3]:
#automatically set won't consider duplicate elements
s = {10,20,20,30,30,30}
print(s)

{10, 20, 30}

In [4]:
#set object doesn't support indexing
print(s[1]) #we can't print particular element in set because
            #it's unorder collection of items

TypeError: 'set' object is not subscriptable

In [5]:
#we can make set from a list
s = list(set([1,2,3,2,1,3,1,2,]))
print(s)

[1, 2, 3]

In [6]:
tup_set = set(('a', 'b','c'))
tup_set

{'a', 'b', 'c'}

In [9]:
i = set(range(3,20,2))
i

{3, 5, 7, 9, 11, 13, 15, 17, 19}

### Set Methods

In [10]:
c = set()
c

set()

#### add()--> we can add single element

In [11]:
c.add(3)
c

{3}

In [12]:
c.add(4)
c.add(5)
c.add('a')
c

{3, 4, 5, 'a'}

#### update()--> add multiple elements

In [14]:
#add multiple elements
s=set()
s.update([4,8,3])
s

{3, 4, 8}

In [17]:
#add list and set
s.update([5,2], {13,1,6})
s

{1, 2, 3, 4, 5, 6, 8, 13}

#### copy()--> copy complete set

In [18]:
d = c.copy()
d

{3, 4, 5, 'a'}

In [19]:
d.add(6)
d

{3, 4, 5, 6, 'a'}

In [20]:
c

{3, 4, 5, 'a'}

#### Delete elements from a set

--A particular item can be removed from set using methods.
1.discard()
2.remove()

In [21]:
s = {1,2,3,5,4}
print(s)
s.discard(4)    #4 is removed from set s
print(s)

{1, 2, 3, 4, 5}
{1, 2, 3, 5}

In [22]:
#discard an element not present in a set s
s.discard(8)
print(s)

{1, 2, 3, 5}

In [23]:
#remove an element
s.remove(2)
print(s)

{1, 3, 5}

In [24]:
#remove an element not present in a set s
s.remove(7) # will get keyError

KeyError: 7

In [25]:
# we can 1st item using pop() method
s = {2,2,3,3,6,5,'subrat','rama'}
s.pop()
print(s)

{3, 5, 6, 'rama', 'subrat'}

In [26]:
s = {1,3,5,6,7}
s.clear()   #remove all items in set using clear() method
print(s)

set()

In [27]:
s = {1,3,5,2,6}
del s #delete the variable

In [28]:
print(s)

NameError: name 's' is not defined

### Set Operations

#### union

In [3]:
set1 = {1,2,3,4,5}
set2 = {3,4,5,6,7}

In [4]:
#union of 2 sets using | operator
print(set1 | set2)

{1, 2, 3, 4, 5, 6, 7}

In [5]:
set1

{1, 2, 3, 4, 5}

#### intersection

In [6]:
# intersection of 2 sets using & operator
print(set1 & set2)

{3, 4, 5}

In [7]:
#use intersection function
print(set1.intersection(set2))

{3, 4, 5}

#### difference

In [8]:
# Set Difference: set of elements that are only in set1 but not in set2
print(set1-set2)

{1, 2}

In [9]:
#use difference fiunction
print(set1.difference(set2))

{1, 2}

In [10]:
print(set2-set1)

{6, 7}

#### difference_update

In [12]:
set1.difference_update(set2)
set1

{1, 2}

In [13]:
set2.difference_update(set1)
set2

{3, 4, 5, 6, 7}

##### .symmetric difference: set of elements in both set1 and set2(except those that are common in both.)

In [14]:
set1 = {1,2,3,4,5}
set2 = {3,4,5,6,7}

In [15]:
#use ^ operator
print(set1^set2)

{1, 2, 6, 7}

In [17]:
#use symmetric_difference function
print(set1.symmetric_difference(set2))

{1, 2, 6, 7}

#### symmetric_difference_update()

In [18]:
set2.symmetric_difference_update(set1)
set2

{1, 2, 6, 7}

##### .issubset()

In [19]:
c = {3,4,5}
d = {3,4,5,6}

In [20]:
c.issubset(d)

True

In [21]:
d.issubset(c)

False

##### .issuperset()

In [22]:
d.issuperset(c)

True

##### .isdisjoint()

In [23]:
c.isdisjoint(d)

False

### Dictionaries

1.Dictionary is an unordered collection of key-value pairs.
2.dictionary is a collection which is unordered, changeable and indexed.
3.In Python, dictionaries are defined within braces{} with eaach item being a pair in the from key: value.
4.Key and value can be of any type.

In [25]:
dic = {}
type(dic)

dict

In [26]:
print(dic)

{}

In [27]:
d=dict()
type(d)

dict

In [28]:
print(d)

{}

In [50]:
# Let create a dictionary 
my_dict = {"Car1":"Audi", "Car2":"BMW", "Car3":"Mercedes Benz"}
type(my_dict)

dict

In [51]:
#Access the item values based on keys
my_dict['Car1']

'Audi'

In [20]:
dict1 = {'key1': 433, 'key2': [5,3,64], 'key3': (65,5,34), 'key4': ['item1', 'item2','item3']}

In [52]:
dict1['key2']

[5, 3, 64]

In [53]:
dict1.keys()

dict_keys(['key1', 'key2', 'key3', 'key4'])

In [54]:
dict1.values()

dict_values([433, [5, 3, 64], (65, 5, 34), ['item1', 'item2', 'item3']])

In [55]:
my_dict.items()

dict_items([('Car1', 'Audi'), ('Car2', 'BMW'), ('Car3', 'Mercedes Benz')])

In [56]:
#Adding items in dictionaries
my_dict['Car4']='Audi 2.0'

In [57]:
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercedes Benz', 'Car4': 'Audi 2.0'}

In [58]:
my_dict['Car1']='Maruti'

In [59]:
my_dict

{'Car1': 'Maruti', 'Car2': 'BMW', 'Car3': 'Mercedes Benz', 'Car4': 'Audi 2.0'}

### Nested Dictionary

In [2]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [3]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [4]:
#Accessing the items in the dictionary
print(car_type['car1'])

{'Mercedes': 1960}

In [5]:
print(car_type['car1']['Mercedes'])

1960

In [14]:
marks={'math':72,'Geography':65,'Hindi':54}

In [15]:
#adding elements
marks['English']=68
marks

{'math': 72, 'Geography': 65, 'Hindi': 54, 'English': 68}

In [16]:
marks.update({'Chemistry':74,'Physics':95})
marks

{'math': 72,
 'Geography': 65,
 'Hindi': 54,
 'English': 68,
 'Chemistry': 74,
 'Physics': 95}

In [17]:
marks['Hindi']=65
marks

{'math': 72,
 'Geography': 65,
 'Hindi': 65,
 'English': 68,
 'Chemistry': 74,
 'Physics': 95}

In [18]:
del marks['Hindi']
marks

{'math': 72, 'Geography': 65, 'English': 68, 'Chemistry': 74, 'Physics': 95}

In [21]:
dict1

{'key1': 433,
 'key2': [5, 3, 64],
 'key3': (65, 5, 34),
 'key4': ['item1', 'item2', 'item3']}

In [23]:
del dict1['key4'][1]

In [24]:
dict1

{'key1': 433,
 'key2': [5, 3, 64],
 'key3': (65, 5, 34),
 'key4': ['item1', 'item3']}

In [25]:
dict1.pop('key2')

[5, 3, 64]

In [26]:
dict1

{'key1': 433, 'key3': (65, 5, 34), 'key4': ['item1', 'item3']}

In [27]:
mix_dict = {1:54, 2:'stringvalue', 'name':['subrat','pintu','rama'],'key4':['person',4,9,21]}

In [29]:
len(mix_dict['key4'])

4

In [30]:
mix_dict['name']

['subrat', 'pintu', 'rama']

In [31]:
mix_dict['name'][0]

'subrat'