In [2]:
a = int(input("Enter the value of a: "))
b = int(input("Enter the value of b: "))
add=a+b
sub=a-b
mult=a*b
div=a/b
mod=a%b
print("ADD:",add)
print("Sum: {0}, Diff: {1}, mult: {2}, Div: {3}, mod: {4}".format(add,sub,mult,div,mod,))

Enter the value of a:  5
Enter the value of b:  4

ADD: 9
Sum: 9, Diff: 1, mult: 20, Div: 1.25, mod: 1

In [3]:
print("Sum: {}, Diff: {}, Mult: {}, Div: {}, Mod: {}".format(add,sub,mult,div,mod))

Sum: 9, Diff: 1, Mult: 20, Div: 1.25, Mod: 1

In [7]:
print("Sum: %d, Diff: %d, Mult: %d, Div: %15.6f, Mod: %d" %(add,sub,mult,div,mod))

Sum: 9, Diff: 1, Mult: 20, Div:        1.250000, Mod: 1

In [9]:
print("sum: %d, Diff: %d, Mult: %d, Div: %9.2f, Mod: %d" %(add,sub,mult,div,mod))

sum: 9, Diff: 1, Mult: 20, Div:      1.25, Mod: 1

In [10]:
print('{0:<4} | {1:^4} | {2:^4} | {3:>4}'.format('Sum', 'Diff', 'Mult', 'Div', 'Mod'))
print('{0:<4} | {1:^4} | {2:^4} | {3:>4}'.format(add,sub,mult,div))

Sum  | Diff | Mult |  Div
9    |  1   |  20  | 1.25

In [12]:
print('{0: <4} | {2:^4} | {1: ^4} | {3:>4}'.format('Sum','Diff', 'Mult', 'Div'))
print('{0: <4} | {2:^4} | {1: ^4} | {3:>4}'.format(add, sub, mult, div))

Sum  | Mult | Diff |  Div
9    |  20  |  1   | 1.25

In [13]:
a="Master Class"
print(f"Welcome to python {a} !") #Formating String Litearls

Welcome to python Master Class !

In [15]:
f = input("Enter a company name - ")
g = input("Enter the number of employees - ")
print("The name of the company is and the number of employees are ",f,g)

Enter a company name -  TCS
Enter the number of employees -  98564

The name of the company is and the number of employees are  TCS 98564

In [16]:
print("The name of the company is",f,"and the number of employees are ",g)

The name of the company is TCS and the number of employees are  98564

In [18]:
print(f"The name of the company is {f} and the number of employees are {g}")

The name of the company is TCS and the number of employees are 98564