## Loops

.There may be a situation when you need to execute a block of code several number of times.
.to iterate over items or elements in a given seq like list, str, dict or tup
.In general, statements are executed sequentially: The first statement in a function is executed first, followed by the second, and so on paths.

### Iterations or loops - repeate actions

. for loop
   . for iterator_name in iterating_sequence:
         . statements1
         . statements2
. while loop
    . until the condition satisfies

## For loop

The for loop in Python is used to iterate over a sequence (list,tuple,string) or otehr iterable objects.

Loop continues until we reach the last item int the sequence.

The body of for loop is separated from the rest of the code using indentation.

### Syntax:

for element in sequene :
    Body of for

Here,element is the variable that takes the value of the item inside the sequence on each iteration.

Loop continue until we reach the last item in the sequence.

In [4]:
seq = [1,2,3,4,5]
for item in seq:
    print(item)

1
2
3
4
5

In [2]:
seq = [1,2,3,4,5]
for item in seq:
    print(item)

1
2
3
4
5

In [6]:
fruits = ['apple','banana','cherry','mango']
for x in fruits:
    print(x)

apple
banana
cherry
mango

In [8]:
list1=[1,2,3,4,5,6]
for i in list1:
    print(i,end='')

123456

In [9]:
a="123"
for char in a:
    print(char,end=' ')

1 2 3

In [10]:
for x in range(10):
    print(x,"hello")

0 hello
1 hello
2 hello
3 hello
4 hello
5 hello
6 hello
7 hello
8 hello
9 hello

In [11]:
# print 1 to 10 natural numbers
for i in range(1,11):
    print(i,end=' ')

1 2 3 4 5 6 7 8 9 10

In [13]:
# for loop to print all the numbers between 10 and 50(both inclusive)
for i in range(11,51):
    print(i)

11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [15]:
#print even numbers in descending order from 1 to 100
for i in range(100,1,-2):
    print(i,end=' ')

100 98 96 94 92 90 88 86 84 82 80 78 76 74 72 70 68 66 64 62 60 58 56 54 52 50 48 46 44 42 40 38 36 34 32 30 28 26 24 22 20 18 16 14 12 10 8 6 4 2

In [18]:
#Write a for loop to print all the add numbers between 10 and 50.
for i in  range(12,50,2):
    print(i)

12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

In [19]:
items = ['item1', 'item2','item3','item4']
for i in range(len(items)):
    print("item at index ",i," is: ",items[i])

item at index  0  is:  item1
item at index  1  is:  item2
item at index  2  is:  item3
item at index  3  is:  item4

In [1]:
# to print sum of n whole numbers

a=[1,2,3,4]
sum1=0  #initialization

for i in a:
    sum1=sum1+i

print("sum:",sum1)

sum: 10

In [2]:
# to print sum of n whole numbers
a=[1,2,3,4]
sum1 = 0 # initialization
for i in a:
    sum1=sum1+i
    print("after",i,"iteration the sum:",sum1)

after 1 iteration the sum: 1
after 2 iteration the sum: 3
after 3 iteration the sum: 6
after 4 iteration the sum: 10

In [3]:
# Program to iterate through a list using indexing
genre = ['pop','rock','jazz','sapna']

# iterate over the list using index
for i in range(1):
    print("I like", genre[i])

I like pop

In [4]:
# Write a python program to get all the even numbers from 11 to 50 (inclusive)
lb=int(input('enter lower bound values:'))
ub=int(input('enter upper bound values:'))
for i in range(lb,ub+1):
    if i%2==0:
        print(i,end=',')

enter lower bound values: 10
enter upper bound values: 40

10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,

In [5]:
n=int(input("enter the number:"))
for i in range(n):
    print("*",end=" ")

enter the number: 6

* * * * * *

In [1]:
# 4.Python Program sum of even numbers in between given range
lb=int(input())
ub=int(input())
s=0

for i in range(lb,ub+1):
    if (i%2==0):
        s=s+i
        print(i,end=' ')

print('\nnsum is',s)

 5
 27

6 8 10 12 14 16 18 20 22 24 26
nsum is 176

In [2]:
# write program that gives numbers between 1 to 100 which are divisible by 5 and not divisible by 7.
for num in range(1,101):
    if num%5 == 0 and num%7!=0:
        print(num)

5
10
15
20
25
30
40
45
50
55
60
65
75
80
85
90
95
100

In [3]:
#Program to print multiple mathematical tables
a=int(input('enter multiplication table:'))
for i in range(1,11):
    print(a,'*',i,'=',a*i)

enter multiplication table: 13

13 * 1 = 13
13 * 2 = 26
13 * 3 = 39
13 * 4 = 52
13 * 5 = 65
13 * 6 = 78
13 * 7 = 91
13 * 8 = 104
13 * 9 = 117
13 * 10 = 130

In [4]:
n=int(input("enter the number:"))
for i in range(n):
    for j in range(n+1,):
        print("*",end=" ")

enter the number: 3

* * * * * * * * * * * *

### list comprehension

##### list comprehension provide a concise way to create lists.

##### Common applications are to make new lists where each element is the result of some operations applied to each  member of another sequence or another sequence or iterable, or to create a subsequence of those elements that satisfy a certain condition.

In [5]:
# without list comprehension
squares = []

for i in range(10):
    squares.append(i**2)   #list append
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [6]:
#using list comprehension
squares = [i**2 for i in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [7]:
movies = ['Departed','Titanic','Aviator','Avatar','2012']
[len(movie) for movie in movies]

[8, 7, 7, 6, 4]

In [8]:
list2 = [-2,-4,-5,-9,4,7]
absv = [abs(x) for x in list2]
absv

[2, 4, 5, 9, 4, 7]

In [9]:
list2 = [-2,-4,-5,-9,4,7]
both = []
for x in list2:
    if x < 0:
        both.append(abs(x))
    else:
        both.append(x**3)

both

[2, 4, 5, 9, 64, 343]

In [10]:
[abs(x) if x<0 else x**3 for x in list2]

[2, 4, 5, 9, 64, 343]

### Set Comprehension

In [11]:
movies = ['Departed','Titanic','Aviator','Avatar','2012']
a=set()
for i in movies:
    a.add(len(i))

a

{4, 6, 7, 8}

In [12]:
movies = ['Departed','Titanic','Aviator','Avatar','2012']
{len(i) for i in movies}

{4, 6, 7, 8}

### Enumerate

In [14]:
movies = {'Departed':9,'titanic':9.4,'Aviator':7.8,'Avatar':9.3,'2012':8.2}
{movie:rating for movie,rating in enumerate(movies)}

{0: 'Departed', 1: 'titanic', 2: 'Aviator', 3: 'Avatar', 4: '2012'}

## Python break Statement

##### In Python, break and continue statements can alter the flow of a normal loop.
##### Loops iterate over a block of code until test expression is false, but sometimes we wish to terminate the current iteration or even the whole loop without checking test expression.
##### The break and continue statements are used in these cases.

Syntax:
     break

In [19]:
numbers = [1,2,3,4]
for num in numbers:
    if num == 4:
        break
        print(num)

## Python Continue Statement

Syntax:
     continue

In [16]:
# print odd numbers present in a list
numbers = [1,2,3,4,5]

for num in numbers:
    if num % 2 == 0:
        continue
    print(num)

1
3
5

### for loop with else

##### A for loop can have an optional else block as well.The else part is executed if the items in the sequence used in for loop exhausts.
##### break statement can be used to stop a for loop.in such case,the else part is ignored.
##### Hence,a for loop's else part runs if no break occurs.

In [1]:
numbers = [1,2,3]

#iterating over the list
for item in numbers:
    print(item)

else:
    print("no item left in the list")

1
2
3
no item left in the list

In [4]:
numbers = [1,2,3,4]

for item in numbers:
    if item % 2 == 0:
        print(item)

2
4

In [5]:
numbers = [1,2,3,4]

for item in numbers:
    if item % 2 == 0:
        print(item)
        break

2

#### While loop

##### The while loop in used to itearte over a block of code as long as the test expression (condition) is true.
##### We generally use this loop when we don't know beforehand, the number of times to iterate.

In [6]:
x=0

while x < 6:
    x=x+1
    print(x)

1
2
3
4
5
6

In [7]:
x = 0
while x < 8:
    print("x is ",x)
    x = x+1

x is  0
x is  1
x is  2
x is  3
x is  4
x is  5
x is  6
x is  7

In [10]:
x = 8
while x > 1:
    print("x is {}".format(x))
    x -= 1

x is 8
x is 7
x is 6
x is 5
x is 4
x is 3
x is 2

In [11]:
i=100
s=20
while i<=500:
    s=s+i
    i=i+100
print(s)

1520

In [12]:
i=0
s=0
while(i<=5):
    s=s+i
    i+=2
print(s)

6

In [13]:
x=0
print(x)
while x < 5:
    x=x+1

print(x)

0
5

In [18]:
i=0
s=0
while (i<=10):
    s=s+i
    i+=2
print(s)

30

In [19]:
# Program to print 0 to 100 (inclusive) whole numbers
i=0
while(i<=100):
    print(i,end=' ')
    i=i+1

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [20]:
# Program to "n" add natural numbers --> sum = 1+2+3+...+n

n = int(input("Enter n: "))
sum = 0
i = 1

while i <= n:
    sum = sum + i
    i = i+1

print("The sum is", sum)

Enter n:  6

The sum is 21

In [21]:
# Find product of all numbers present in a list
lst = [1, 2, 3, 4, 7]

product = 1
index = 0

while index < len(lst):
    product *= lst[index]
    index +=2

print("Product is: {}".format(product))

Product is: 21

In [23]:
# Ask the use to enter the numbers and sum it
s=0
while True:
    a=input('enter a value:')
    if(a=='done'):
        break
    s=s+int(a)
print(s)

enter a value: 3
enter a value: 5
enter a value: 4
enter a value: done

12

### While Loop with else

##### Same as that of for loop, we can have an optional else block with while loop as well.
##### The else part is executed if the condition in the while loop evalutes to False. The while loop can be terminated with a break statement.
##### In such case,the part is ignored. Hence, a while loop's else part runs if no break occurs and the condition is false.

In [1]:
x = 8
while x > 1:
    print("x is {}".format(x))
    x -= 1
    if x==9:
        break

else:
    print("x is no longer greater than 1")

x is 8
x is 7
x is 6
x is 5
x is 4
x is 3
x is 2
x is no longer greater than 1

In [3]:
x = 0
while x < 8:
    print("x is {}".format(x))
    x += 1
else:
    print("x is no longer less than 8")

x is 0
x is 1
x is 2
x is 3
x is 4
x is 5
x is 6
x is 7
x is no longer less than 8

In [4]:
numbers = [1,2,3,4,5]

index = 0
while index < len(numbers):
    print(numbers[index])
    index += 1

else:
    print("no item left in the list")

1
2
3
4
5
no item left in the list

### Factorial

In [9]:
# Write a program which can compute the factorial of a given numbers.
a=int(input("Enter the number:"))
fact=1
for i in range(a,0,-1):
    fact=fact*i
print("Factorial of number is :",fact)

Enter the number: 6

Factorial of number is : 720

In [11]:
# Write a program which can compute the factorial of a given numbers.
a=int(input("Enter the number:"))
fact=1
for i in range(1,a+1):
    fact=fact*i
    print("after",i,"iteration the factorial value is:",fact)

Enter the number: 6

after 1 iteration the factorial value is: 1
after 2 iteration the factorial value is: 2
after 3 iteration the factorial value is: 6
after 4 iteration the factorial value is: 24
after 5 iteration the factorial value is: 120
after 6 iteration the factorial value is: 720